@charset "UTF-8";

html {
    height: 100%;
}

body {
    background: linear-gradient(74deg, rgba(160,0,251,1) 30%, rgba(0,212,255,1) 68%);
    background-attachment: fixed;
}

h1{
    font-size: 100px;
    font-family: Arial;
    font-weight: 100;
    color: white;
    text-align: center;
    margin-top: 250px;
}

p{
    font-size: 25px;
    font-family: Arial;
    font-weight: 100;
    color: white;
    text-align: center;
    
}

ul{
    text-align: center;
    margin-top: 50px;
}

li{
    border: 1px solid white;
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

#youtube{
    background-image: url('youtube.png');
}

#twitter{
    background-image: url('twitter.png');
}

#github{
    background-image: url('github.png');
}

#twitch{
    background-image: url('icons8-twitch-50.png');
}

#ulife{
    background-image: url('faculdade.png');
}

#multicanais{
    background-image: url('televisao-portatil.png');
}

li:hover{
    background-color: rgba(0, 0, 0, 0.5)
}
